/* CONTACT SECTION */
.contact-section {
  background-color: var(--secondary-color); /* Fondo oscuro */
  color: var(--primary-color); /* Texto claro */
  width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
  margin: 0 auto; /* Elimina márgenes automáticos */
  padding: 12rem var(--spacing); /* Espaciado interno */
  padding-bottom: 8rem; /* Añade espaciado inferior */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  display: flex; /* Activa Flexbox */
  flex-direction: column; /* Organiza elementos en columna */
  align-items: center; /* Centra horizontalmente */
}

.contact-content {
  max-width: 30rem; /* Ancho máximo del contenido */
  text-align: center; /* Alinea el texto al centro */
}

.create-playlist-content p {
  font-size: 1rem; /* Tamaño del texto */
  line-height: 1.8; /* Espaciado entre líneas */
  color: var(--primary-color); /* Asegura que el texto sea claro */
  margin-top: 1rem;
}

.contact-container {
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra el botón horizontalmente */
  align-items: center; /* Centra el contenido verticalmente (si es necesario) */
  margin-top: 2rem; /* Añade espacio entre el botón y el contenido anterior */
  padding-bottom: 8rem;
}


.popup-content-form{
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  width: 100%;
  height: auto;
  max-width: 520px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.contact-button {
  font-family: var(--font-stack);
  background-color: var(--primary-color); /* Color de fondo del botón */
  color: var(--secondary-color); /* Color del texto */
  width: 15rem; /* Tamaño del botón */
  height: 4rem;
  font-size: 1rem; /* Tamaño del texto */
  padding: 0.75rem 1rem; /* Espaciado interno */
  border: none; /* Sin bordes */
  border-radius: 0.5rem; /* Bordes ligeramente redondeados */
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--secondary-color); /* Color de fondo al pasar el mouse */
  color: var(--primary-color); /* Cambia el color del texto */
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.2); /* Sombra sutil */
}

.main-title-black {
  font-family: var(--font-h1); /* Fuente específica para el título */
  font-size: clamp(2rem, 8vw, 17rem); /* Tamaño dinámico */
  line-height: 1.2; /* Espaciado entre líneas */
  font-weight: 900; /* Peso de la fuente */
  text-align: center; /* Centra el texto */
  width: 100vw; /* Asegura que el título ocupe todo el ancho del viewport */
  max-width: 100%; /* No limita el ancho del texto */
}

.social-media {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  padding: 0; /* Elimina el padding */
  cursor: pointer; /* Cambia el cursor al estilo de botón */
}

.social-media img {
  width: clamp(2rem, 5vw, 4rem); /* Tamaño dinámico: mínimo 2rem, máximo 4rem */
  height: auto; /* Mantiene la proporción */
  transition: transform 0.3s ease; /* Suaviza los efectos de hover */
}

.social-media img:hover {
  transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

/* Responsive: ajustes para móviles */
@media (max-width: 950px) {

  .contact-section {
  padding: 5rem var(--spacing); /* Espaciado interno */
  padding-bottom: 5rem; /* Añade espaciado inferior */

}

  .popup-content-form {
     display: flex; /* Flexbox para centrar */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 8px;
    height: auto;
    max-width: 100%; /* Asegura que ocupe todo el ancho */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Ajustar tamaño del texto en los campos del formulario */
  .popup-content-form input,
  .popup-content-form textarea,
  .popup-content-form select {
    font-size: 0.9rem; /* Tamaño del texto en los campos */
    padding: 0.5rem; /* Espaciado interno en los campos */
  }

  /* Ajustar tamaño del texto en las etiquetas */
  .popup-content-form label {
    font-size: 0.8rem; /* Tamaño del texto en las etiquetas */
  }

  /* Botones en el formulario */
  .popup-content-form button {
    font-size: 0.9rem; /* Tamaño del texto en los botones */
    padding: 0.8rem 1rem; /* Ajuste del espaciado interno */
  }

  /* Ajustar los elementos de grupo de checkbox */
  .popup-content-form .MuiFormLabel-root {
    font-size: 0.8rem; /* Tamaño del texto en los labels de los grupos */
  }

  .popup-content-form .MuiFormControlLabel-label {
    font-size: 0.8rem; /* Tamaño del texto en los labels de los checkboxes */
  }
}
