/* Events Section */
.events-section {
  background-color: var(--secondary-color); /* Fondo oscuro */
  color: var(--primary-color); /* Texto claro */
  width: 100vw; /* Asegura que el fondo ocupe todo el ancho del viewport */
  margin: 0; /* Sin márgenes */
  padding: 12rem var(--spacing); /* Espaciado superior e inferior */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

/* Título de la sección */
.events-title {
  max-width: 90rem; /* Ancho máximo del título */
  margin: 0 auto; /* Centra el contenedor del título */
  padding: 0 var(--spacing); /* Espaciado lateral */
  text-align: left; /* Alinea el título a la izquierda */
}

.events-title h3 {
  font-size: 1.5rem; /* Tamaño del texto */
  font-weight: bold; /* Hace el texto más prominente */
  margin: 0 auto 1rem; /* Espaciado entre el texto y la línea */
  margin-bottom: 0.5rem; /* Espaciado debajo del título */
  position: relative;
  color: var(--primary-color); /* Texto claro */
}

.events-title h3::after {
  content: ''; /* Genera el pseudo-elemento para la línea */
  display: block; /* Asegura que ocupe toda la línea */
  width: 100%; /* La línea ocupa todo el ancho del contenedor */
  height: 0.05rem; /* Grosor de la línea */
  background-color: var(--primary-color); /* Línea clara */
  margin-top: 2rem; /* Espaciado entre el texto y la línea */
  margin-bottom: 2rem; /* Espaciado entre el texto y la línea */
  opacity: 0.5; /* Opacidad de la línea */
}

/* Contenido de los eventos */
.events-content {
  max-width: 90rem; /* Limita el contenido a un ancho máximo */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  display: flex; /* Activa Flexbox */
  justify-content: space-between; /* Espacia uniformemente los elementos */
  align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
  gap: 2rem; /* Espaciado uniforme entre los elementos */
}

.event {
  flex: 1; /* Cada elemento ocupa el mismo ancho */
  background-color: var(--primary-color); /* Fondo claro para diferenciar eventos */
  color: var(--secondary-color); /* Texto oscuro */
  padding: 1rem; /* Espaciado interno */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para diferenciar eventos */
  display: flex; /* Organiza el contenido del evento en columna */
  flex-direction: column; /* Organiza los elementos verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  text-align: center; /* Alinea el texto en el centro */
}

.event p {
  margin: 0.5rem 0; /* Espaciado entre las líneas */
  /* font-family: var(--font-h1); */
}

.event-name {
  font-family: var(--font-h1);
  font-size: 1.1rem; /* Ajusta el tamaño si es necesario */
  font-weight: bold; /* Si necesitas hacerlo más prominente */
}

.add-to-calendar-container {
  margin-top: 1rem; /* Espaciado superior antes del botón */
}

.add-to-calendar-button {
  font-family: var(--font-stack);
  background-color: var(--secondary-color); /* Fondo oscuro */
  color: var(--primary-color); /* Texto claro */
  padding: 0.75rem 1.5rem; /* Espaciado interno */
  border: none; /* Sin bordes */
  border-radius: 0.5rem; /* Bordes redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Efecto de transición */
}

.add-to-calendar-button:hover {
  background-color: var(--primary-color); /* Cambia a fondo claro */
  color: var(--secondary-color); /* Cambia el texto a oscuro */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada */
}


/* ADMIN PANEL para introducir eventos */
/* Panel de administración */
.admin-panel {
  margin: 2rem 0;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  color: var(--secondary-color);
  text-align: center;
}

.admin-panel h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.admin-form input {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
}

.admin-form .add-event-button {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.admin-form .add-event-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Mensaje cuando no hay eventos */
.no-events {
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  margin: 1rem auto;
}

.map-link img {
  transition: transform 0.3s ease;
}

.map-link img:hover {
  transform: scale(1.2); /* Agranda el icono al pasar el cursor */
}

.icons-container {
  display: flex;
  gap:25px; /* Espaciado entre iconos */
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.icon-link {
  text-decoration: none;
  display: inline-block;
}

.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2); /* Agranda el icono al pasar el cursor */
}
