/* FOOTER SECTION */
.footer {
  background-color: var(--secondary-color); /* Fondo oscuro */
  color: var(--primary-color); /* Texto claro */
  padding: 2rem; /* Espaciado interno */
  text-align: center; /* Centra el contenido del texto */
  position: relative; /* Necesario para el pseudo-elemento */
  display: flex; /* Activa Flexbox */
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: center; /* Centra horizontalmente el contenido */
  justify-content: center; /* Centra verticalmente el contenido */
}

.footer::before {
  content: ''; /* Genera un pseudo-elemento para la línea */
  display: block; /* Asegura que ocupe toda la línea */
  width: 100%; /* La línea ocupa el 50% del ancho del footer */
  height: 0.05rem; /* Grosor de la línea */
  background-color: var(--primary-color); /* Línea clara */
  margin-bottom: 2rem; /* Espaciado entre la línea y el contenido del footer */
  opacity: 0.5; /* Opacidad de la línea */
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.privacy-link {
  display: block; /* Asegura que esté debajo del texto del copyright */
  margin-top: 0.5rem; /* Espaciado superior */
  color: var(--primary-color);
  text-decoration: none; /* Elimina el subrayado */
  font-size: 0.8rem; /* Tamaño más pequeño para el enlace */
}

.privacy-link:hover {
  text-decoration: underline; /* Subraya al pasar el mouse */
}

/* Estilo texto privacy policy */
.popup-title {
  font-family: var(--font-h1);
  font-size: 1.2rem; /* Ajusta el tamaño según sea necesario */
  text-align: center;
  margin: auto;
  color: var(--secondary-color); /* Usa tus variables de color */
}
.privacy-content {
  max-height: 40rem;
  overflow-y: auto;
  color: var(--secondary-color);
}

.privacy-link {
  background: none;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  
}
