@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@900&display=swap');

:root {
  --primary-color: #f2f2f2; /* Fondo claro */
  --secondary-color: #151515; /* Texto oscuro */
  --font-stack: 'Inter', sans-serif; /* Fuente global */
  --font-h1: 'Lexend Zetta', sans-serif; /* Fuente para títulos */
  --spacing: 2rem; /* Espaciado base */
  --container-width: 50rem; /* Ancho máximo del contenedor */
}

body {
  font-family: var(--font-stack);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegura que el contenido se apile desde la parte superior */
  align-items: stretch; /* Permite que los hijos ocupen todo el ancho */
  min-height: 100vh;
  padding: 0; /* Elimina cualquier relleno innecesario */
}




