/* LIVE SESSION SECTION */
.live-sessions-section {
  /* Ancho máximo para el diseño */
  max-width: 87.5rem; 
  margin: 0 auto; /* Centra horizontalmente la sección */
  text-align: center; /* Alinea el texto al centro */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  z-index: 1; /* Asegura que esté encima de todo */
  padding-top: 6rem; /* Espaciado superior */
  padding-bottom: var(--spacing); /* Mantiene el padding inferior */
  padding-left: 0; /* Quita el padding lateral izquierdo */
  padding-right: 0; /* Quita el padding lateral derecho */
  background-color: transparent;
  position: relative; 
}

section.live-sessions-section {
  padding-bottom: 6rem !important;
}

.live-sessions-section h3 {
  text-align: left; /* Justifica el texto a la izquierda */
  font-size: 1.5rem; /* Tamaño del texto del h3 */
  font-weight: bold; /* Opcional: hace el texto más prominente */
  margin-bottom: 0.5rem; /* Espaciado debajo del título */
  position: relative; /* Necesario para colocar la línea */
  padding: 0 30px;
}

.live-sessions-section h3::after {
  content: ''; /* Genera un pseudo-elemento para la línea */
  display: block; /* Asegura que ocupe toda la línea */
  width: 100%; /* La línea ocupa el ancho del contenedor h3 */
  height: 0.05rem; /* Grosor de la línea */
  background-color: var(--secondary-color); /* Color de la línea */
  opacity: 0.2; /* Cambia la opacidad de la línea (50% visible) */
  margin-top: 2rem; /* Espaciado entre el texto y la línea */
  margin-bottom: 2rem; /* Espaciado entre el texto y la línea */
}

.session-image {
  width: 60%;
  display: flex;
}

.session-image img {
  width: 100%; 
  height: auto;
  object-fit: cover; 
}

.session-content {
  flex: 1; /* Contenido ocupa la mitad derecha */
  display: flex;
  flex-direction: column; /* Organiza el contenido verticalmente */
  justify-content: space-between; /* Separa título/texto del botón */
  position: relative; /* Necesario para colocar el botón */
}

.session-content h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left; /* Alineado a la izquierda */
  /* padding-left: 3rem; */
}

.session-content p {
  font-size: 1rem;
  line-height: 1.8; /* Espaciado entre líneas */
  margin: 0.5rem 0 15rem; /* Espaciado debajo del texto */
  text-align: left; /* Alineado a la izquierda */
  /* padding-left: 3rem; */
}

.play-button {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  border-radius: 50%; /* Botón redondo */
  width: 3rem; /* Tamaño del botón */
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  position: absolute; /* Coloca el botón de manera absoluta */
  bottom: 0; /* Alinea el botón con la parte inferior */
  left: 2rem; /* Alinea el botón con el padding izquierdo del texto */
}

.play-button img {
  width: 3rem; /* Tamaño deseado del SVG (ajusta este valor) */
  height: auto; /* Tamaño proporcional del SVG */
}

.see-all-container {
  text-align: center;
  height: 100%;
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  padding: 30px 0; /* Espaciado interno */
  margin-top: 4rem; /* Separación superior */
}

.see-all-container .see-all-button-live {
  background-color: var(--secondary-color); /* Color de fondo del botón */
  color: var(--primary-color); /* Color del texto */
  text-decoration: none; /* Elimina la línea de subrayado */
  font-size: 1rem; /* Tamaño del texto */
  padding: 1.3rem 5rem; /* Espaciado interno */
  border: none; /* Sin bordes */
  border-radius: 0.5rem; /* Bordes ligeramente redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Animación para el hover */
}

.see-all-container .see-all-button-live:hover {
  background-color: var(--primary-color); /* Color de fondo al pasar el mouse */
  color: var(--secondary-color); /* Cambia el color del texto */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.sessions {
  position: relative; /* Necesario para contener la línea */
  display: flex;
  flex-direction: column;
  gap: 5rem;
  z-index: 0; /* Mantiene el contenido por encima de la línea */
}

.sessions h3 {
  margin: 0;
}

.session {
  display: flex; 
  align-items: center; 
  position: relative; 
  width: 100%; /* Asegura que cada sesión ocupe todo el ancho */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--primary-color);
}

.session img {
  width: 100%; /* Ajusta la miniatura al ancho del contenedor */
  height: auto; /* Mantiene la proporción */
  cursor: pointer;
}

.session-content {
  padding: 1rem; /* Espaciado interno para el contenido */
  text-align: left; /* Alinea el texto a la izquierda */
}

/* VIDEOS */
/* Ventana emergente para el video */
.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Asegura que esté encima de otros elementos */
}

.video-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  font-family: var(--font-stack);
}

.close-button:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}


/* Responsive para móviles en vertical */
@media (max-width: 767px) {
  .session {
    width: 100%; /* La imagen ocupa todo el ancho en móviles */
    flex-direction: column; /* Video arriba y descripción abajo */
    align-items: center; /* Centra los elementos en columna */
    text-align: center; /* Alinea texto e imágenes al centro */
  }

  .session-image {
    width: 100%; /* El contenedor de la imagen ocupa todo el ancho */
    max-width: 100%; /* Evita desbordamientos */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }

  .session-image img {
    width: 100%; /* La imagen llena el ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    max-width: none; /* Asegura que no haya límites de tamaño */
    object-fit: cover; /* Escala la imagen sin distorsión */
  }

  .session-content {
    padding: 0.5rem;
    max-width: 16rem; 
  }

  .session-content h4 {
    font-size: 1.2rem;
    padding:0;
    
  }

  .session-content p {
    font-size: 0.9rem; /* Aumenta el tamaño del h2 en móviles */
    margin: 0.5rem 0;
    padding:0;
    text-align: justify;
  }

  /* Ventana emergente para el video */
  .video-popup {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100%; /* Altura automática */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Asegura que esté encima de todo */
  }

    .video-popup-content {
    display: flex; /* Asegura que el contenido se alinee */
    flex-direction: column; /* Organiza el iframe y el botón en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 1rem; /* Espaciado interno opcional */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho/alto */
  }

  .video-popup-content iframe {
    width: 90%; 
    height: auto;
    aspect-ratio: 16 / 9; 
  }

.first-vertical-scroll-line-livesessions, .second-vertical-scroll-line-livesessions {
    opacity: 0;
  }

}

/* Ajustes específicos para móviles en horizontal */
@media (max-width: 950px) and (max-height: 500px) {
  h2 {
    font-size: 1.9rem; /* Aumenta el tamaño del h2 en móviles */
    max-width: 18rem; /* Reduce ligeramente el ancho máximo en móviles */
  }

  .sessions {
  gap: 1rem;
  }

  .session-content {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: left; /* Centra verticalmente */

  }

  .session-content h4 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    
  }

  .session-content p {
    margin: 0; 
  }

/*   .live-sessions-section {
    padding-top: 6rem !important; 
    padding-bottom: 3rem !important;
  } */



  .video-popup-content {
    display: flex; /* Asegura que el contenido se alinee */
    flex-direction: column; /* Organiza el iframe y el botón en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 1rem; /* Espaciado interno opcional */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho/alto */
  }

  .video-popup-content iframe {
    width: 70%; /* Ajusta el ancho al 90% del contenedor */
    height: auto; /* Mantiene la proporción del video */
    max-width: 1280px; /* Ancho máximo del iframe */
    aspect-ratio: 16 / 9; /* Mantiene proporciones estándar de video */
    border: none; /* Elimina bordes del iframe */
  }
  .first-vertical-scroll-line-livesessions, .second-vertical-scroll-line-livesessions {
    opacity: 0;
  }
}

/* Ajustes específicos para tablets en vertical */
@media (max-width: 1025px) {

  .video-popup-content {
    display: flex; /* Asegura que el contenido se alinee */
    flex-direction: column; /* Organiza el iframe y el botón en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 1rem; /* Espaciado interno opcional */
  }

  .video-popup-content iframe {
    width: 90%; /* Ajusta el ancho al 90% del contenedor */
    height: auto; /* Mantiene la proporción del video */
    aspect-ratio: 16 / 9; /* Mantiene proporciones estándar de video */
    border: none; /* Elimina bordes del iframe */
  }

  .first-vertical-scroll-line-livesessions, .second-vertical-scroll-line-livesessions {
    opacity: 0;
  }
}

/* Ajustes específicos para tablets en horizontal */
@media (max-width: 1366px) {
  .first-vertical-scroll-line-livesessions, .second-vertical-scroll-line-livesessions {
    opacity: 0;
  }
}


/* Estilos para las líneas verticales */

/* Primera línea vertical */
.first-vertical-line-container-livesessions {
  position: absolute;
  width: 6px; /* Grosor de la línea */
  right: 8.85%;     
  height: 100%; /* Abarca toda la altura de la sección */
  top: 0; /* Comienza desde la parte superior */
  z-index: -1; /* Detrás del contenido */
}

.first-vertical-scroll-line-livesessions {
  position: absolute;
  top: 0;
  width: 100%; /* Ajusta al ancho del contenedor */
  height: 100%; /* Altura total del contenedor */
  background-color: #3498db; /* Color azul */
  transform-origin: top center; /* Animación desde la parte superior */
  transform: scaleY(0); /* Escala inicial */
  pointer-events: none; /* No interactúa con el cursor */
}

/* Segunda línea vertical */
.second-vertical-line-container-livesessions{
  position: absolute;
  width: 6px; /* Grosor de la línea */
  left: 15%;
  height: 100%; /* Abarca toda la altura de la sección */
  top: 0; /* Comienza desde la parte superior */
  z-index: -1; /* Detrás del contenido */
}

.second-vertical-scroll-line-livesessions {
  position: absolute;
  top: 0;
  width: 100%; /* Ajusta al ancho del contenedor */
  height: 100%; /* Altura total del contenedor */
  background-color: #D82E45; /* Color rojo */
  transform-origin: top center; /* Animación desde la parte superior */
  transform: scaleY(0); /* Escala inicial */
  pointer-events: none; /* No interactúa con el cursor */
}




