/* NAVBAR */
.navbar {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  position: relative;
}

/* Menú en desktop */
.menu {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  list-style: none;
}

.menu a {
  color: var(--secondary-color);
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  position: relative;
  text-decoration: none;
}

/* Efecto de línea bajo los enlaces */
.menu a::after {
  content: '';
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--secondary-color);
  opacity: 0.2;
}

.menu a::before {
  content: '';
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary-color);
  transition: width 1s ease;
}

.menu a:hover::before {
  width: 100%;
}

/* Icono de hamburguesa (solo en móviles) */
.hamburger-icon {
  display: none; 
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1001; 
  cursor: pointer;
}

.hamburger-icon img {
  width: 24px; 
  height: 24px;
}

/* RESPONSIVE */
/* Móviles Vertical */
@media (max-width: 950px) {
  .hamburger-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    background: var(--primary-color);
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .menu.open {
    display: flex; 
  }

  .menu li {
    padding: 2rem;
    text-align: center;
  }

  .menu a {
    font-size: 1rem; 
  }
  
  .menu a::after,
  .menu a::before {
    content: none;
  }

  .main-title {
    margin: 2rem 0;
    width: 100vw; 
  }
}

/* Móviles Horizontal */
@media (max-width: 950px) and (max-height: 500px) {
  .hamburger-icon {
    position:absolute; 
    right: -3.5rem; 
    top: 1.5rem; 
  }

  .menu {
    position:relative;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100vh;
  }

    .menu li {
    padding: 1.4rem; 
    text-align: center; 
  }
}
