/* LIVE SESSION SECTION */
.playlists-section {
  max-width: 45rem; 
  margin: 0 auto; /* Centra horizontalmente la sección */
  text-align: center; /* Alinea el texto al centro */
  padding-top: 3rem; /* Reduce el espacio superior */
  padding-bottom: 3rem; /* Reduce el espacio inferior */
}

section.playlists-section {
  padding-bottom: 8rem !important;
}

.playlists-section {
  width: 100%; /* Asegura que ocupe todo el ancho del viewport */
  max-width: 90rem; 
  margin: 0 auto; /* Centra horizontalmente la sección */
  padding: var(--spacing); /* Espaciado interno */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
}

.playlists-section h3 {
  text-align: left; /* Justifica el texto a la izquierda */
  font-size: 1.5rem; /* Tamaño del texto del h3 */
  font-weight: bold; /* Opcional: hace el texto más prominente */
  margin-bottom: 0.5rem; /* Espaciado debajo del título */
  position: relative; /* Necesario para colocar la línea */
}

.playlists-section h3::after {
  content: ''; /* Genera un pseudo-elemento para la línea */
  display: block; /* Asegura que ocupe toda la línea */
  width: 100%; /* La línea ocupa el ancho del contenedor h3 */
  height: 0.05rem; /* Grosor de la línea */
  background-color: var(--secondary-color); /* Color de la línea */
  opacity: 0.2; /* Cambia la opacidad de la línea (50% visible) */
  margin-top: 1rem; /* Espaciado entre el texto y la línea */
  margin-bottom: 1rem; /* Espaciado entre el texto y la línea */
}

.mixcloud-embed {
  padding: 6rem 0;
  margin: 0;
  max-height: 100px;
}

